<a href="https://colab.research.google.com/github/ACHRP/Data-Structures/blob/main/Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Created a list

X = [1, 2, 3.5, 4, 6, 6, "Destiny", True, False]
print(X)

[1, 2, 3.5, 4, 6, 6, 'Destiny', True, False]

# List
The above is a list named X which prints different data types.

In [3]:
y = {"Name":"Den", "University":"Gisma", "Year":2025, "Age":46, "Marital_Staus":"Married", "Children":2, "Gender":"Male"}
print(y)

{'Name': 'Den', 'University': 'Gisma', 'Year': 2025, 'Age': 46, 'Marital_Staus': 'Married', 'Children': 2, 'Gender': 'Male'}

# Dictionary
The above is a dictionary named y which prints data from users.

In [6]:
Tuple = ("Den", 46, "Gisma", "Married", 2, "Male", 2025)
print(Tuple)

('Den', 46, 'Gisma', 'Married', 2, 'Male', 2025)

# Tuple
The above is a tuple detailing a student details.

In [7]:
Set = {1, 2, 1, 2,3, 4, 1, 3, 2, 1, 3, 2, 4, 4, 5, 6}
print(Set)

{1, 2, 3, 4, 5, 6}

# Set
The above is a set that removes duplicates from the list.