In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/salary-dataset-simple-linear-regression/Salary_dataset.csv

# ABOUT THIS DATASET
* The dataset shows the correlation between salary levels versus the years of experience.  
* This dataset came Kaggle.com and it was created by Allena Venkata Sai Abhishek ([Dataset Link](https://www.kaggle.com/datasets/abhishek14398/salary-dataset-simple-linear-regression)).

**Significance of the dataset**  

* Years of experience has a great significance on salary.
* Employees with many years of experience earn more. 
 

**Significance of Analysis**  
* To understannd the relationship between years of experience and the slary level

# Data Preprocessing
1. We shall understand what our data is all about
2. We shall do data cleanup

**Data Loading**

* Import the librarys
* Import pandas for dataset manipulation.
* Import Numpy for mathemaatical operations
* import Matplotlib for ploting
* import Seaborn for advanced graphs and graphs styling.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Read
* Read the dataset

In [3]:
Salary = pd.read_csv("/kaggle/input/salary-dataset-simple-linear-regression/Salary_dataset.csv")

# Diplay the first 5 rows and columns
* Use the head function to display.

In [4]:
Salary.head()

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

# Explanation
There are 3 columns namely
* Unnamed
* YearsExperience
* Salary

# Structure of the dataset
* Use the shape function.

In [5]:
Salary.shape

(30, 3)

# Interpretation
* There are 30 entires and 3 columns.

# > Displaying columns
* Use the columns function to get the column names.

In [6]:
Salary.columns

Index(['Unnamed: 0', 'YearsExperience', 'Salary'], dtype='object')

# Deep Statistics
* Use the describe function to gain a deeper understanding of the dataset.

In [7]:
Salary.describe()

       Unnamed: 0  YearsExperience         Salary
count   30.000000        30.000000      30.000000
mean    14.500000         5.413333   76004.000000
std      8.803408         2.837888   27414.429785
min      0.000000         1.200000   37732.000000
25%      7.250000         3.300000   56721.750000
50%     14.500000         4.800000   65238.000000
75%     21.750000         7.800000  100545.750000
max     29.000000        10.600000  122392.000000

# Summary of the dataset
Use the info function to summarize the dataset

In [8]:
Salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       30 non-null     int64
 1   YearsExperience  30 non-null     float64
 2   Salary           30 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 848.0 bytes